/* Main block begin*/
.main-block {
  margin: 0 auto;
  text-align: center;
  width: 1170px;
  height: auto;
  position: relative;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.category-block {
  width: 675px;
  height: auto;
  position: relative;
  float: left;
  background-color: #fff;
}

.category-block-header {
  width: 628px;
  height: 23px;
  font-size: 21px;
  color: #4d4d4d;
  text-align: left;
  padding-top: 20px;
  margin-left: 23px;
  float: left;
}

.category-block-header::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: -51px;
  height: 2px;
  background: #00a99d;
  border-width: 0 10px;
}

.header-img {
  width: 100px;
  float: right;
  text-align: right;
  margin-top: -45px;
}

.header-img p {
  float: right;
  font-size: 13px;
  padding-top: 4px;
  padding-right: 17px;
}

.header-img img {
  padding-right: 8px;
  padding-top: 1px;
  width: 19px;
  height: 20px;
}

h1 {
  font-size: 21px;
  color: #00a99d;
  text-align: left;
  margin-left: 25px;
  margin-top: 74px;
  position: relative;
}

.faq_item {
  float: left;
  width: 700px;
  min-height: 50px;
  height: 100%;
  margin-left: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px 0 10px 3px;
}

.faq_item_title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 21px;
  position: relative;
}

.faq_show_all .faq_item_title {
  font-weight: 900;
  padding-left: 23px;
  margin-top: 20px;
}

.faq_item_title_inner {
  float: left;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding: 2px 0 0 0;
  cursor: pointer;
}

.faq_item_title_inner-date {
  float: left;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 400;
}

.faq_item_title_inner:hover:before {
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.faq_item_title_inner:before {
  position: absolute;
  content: '';
  right: -25px;
  top: 4px;
  width: 30px;
  height: 100%;
  background: url(../img/show.png) no-repeat center center;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.faq_item_title_inner.open:before {
  opacity: 0;
}

.faq_item_body {
  font-size: 21px;
  font-weight: 700;
  padding: 2px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.add-note {
  float: left;
  margin-top: -38px;
  margin-left: 511px;
  ;
}

.add-button {
  font-size: 12px;
  padding-left: 5px;
  padding-bottom: 2px;
  font-weight: 700;
  width: 133px;
  height: 28px;
  color: #fff;
  background: url('../img/svg/add-button.svg')no-repeat;
  display: block;
  text-align: center;
  border: 0px;
  text-align: left;
}

.add-button input:first-child {
  margin-top: 20px;
}

.table-body .table-block:first-child {
  margin-top: 23px;
}

.table-header {
  width: 90%;
  height: 45px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #00A99D;
  float: left;
  padding-left: 15px;
  padding-top: 6px;
}

table {
  text-align: left;
  margin-top: 0;
  margin-left: 1px;
  width: auto;
  font-size: 12px;
  color: #4D4D4D;
  border-collapse: collapse;
  display: block;
  max-height: 248px;
  overflow: hidden;
  -webkit-transition: max-height 0.01s ease-in;
  -o-transition: max-height 0.01s ease-in;
  transition: max-height 0.01s ease-in;
}

table tr td {
  border: 1px solid #CCCCCC;
  padding-left: 8px;
  vertical-align: top;
  padding-top: 11px;
}

#but {
  width: 621px;
  height: 30px;
  margin-left: 24px;
  border: 1px solid #e5e5e5;
  text-align: center;
  cursor: pointer;
}

#but img {
  width: 76px;
  height: 13px;
  text-align: center;
  padding-bottom: 3px;
  margin-top: -3px;
}

#butrev {
  width: 621px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

#butrev img {
  width: 76px;
  height: 13px;
  margin-left: 8px;
  margin-top: -6px;
}

.table-block {
  /*  border: 1px solid #CCCCCC; */
  margin-left: 24px;
  width: 625px;
  margin-top: 30px;
  margin-bottom: 25px;
}

#block5 {
  display: block;
  max-height: 345px;
  overflow: hidden;
  -webkit-transition: max-height 0.1s ease-in;
  -o-transition: max-height 0.1s ease-in;
  transition: max-height 0.1s ease-in;
}

#block6 {
  display: block;
  max-height: 345px;
  overflow: hidden;
  -webkit-transition: max-height 0.1s ease-in;
  -o-transition: max-height 0.1s ease-in;
  transition: max-height 0.1s ease-in;
}

#block7 {
  display: block;
  max-height: 345px;
  overflow: hidden;
  -webkit-transition: max-height 0.1s ease-in;
  -o-transition: max-height 0.1s ease-in;
  transition: max-height 0.1s ease-in;
}

.edit-block {
  float: left;
  padding-left: 16px;
}

.edit-block img {
  width: 13px;
  height: 13px;
  padding-bottom: 5px;
}

.row-1 {
  height: 47px;
  font-weight: 700;
}

.row-2 {
  height: 34px;
}

.cell-11 {
  width: 99px;
}

.cell-12 {
  width: 98px;
}

.cell-13 {
  width: 321px;
}

.cell-14 {
  width: 77px;
}

.clear {
  clear: both;
}

/* Main block end*/
